body {
    font-family: font-family: 'Roboto', sans-serif;
}

.current-card-title {
    display: inline;
    padding-top: 3px;!important
}
.icon-img {
    width: 60px;
}
.five-card {
    color: white;
    font-size: 15px;
}
#clear-history {
    padding: 5px;
    margin: 0 auto;
    width: 120px;
    color: white;
    background-color: #083C5D;
    margin-bottom: 10px;
    border: 1px rgb(70, 69, 69) solid;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}
